/* CSS declarations go here */
/* Stops Navbar from Covering Titles after Scrolling */
.anchorpoint{
  padding-top: 40px;
  margin-top: -40px
}

.heading-font{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
}

.body-font{
  font-family: 'Arimo', sans-serif;
}

/* Button Styles */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1A1A26 !important;
    border-color: #1A1A26 !important;
    color: gray;
}
/* Button Padding */
.btn-space {
    margin: 10px;
}

/* These Eliminate Pannel Padding */
/* Removes Rounded Panel Corners */
.panelnocorn{
  border-radius: 0 !important;
}

/* Removes Rounded Margins */
.panelnomarg{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/* Removes Rounded Panel Padding */
.no-spacing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-right: 0 !important
  padding-left: 0 !important
}

.well-dark{
    background-color: #1A1A26 !important;
    border-color: #1A1A26 !important;
}
