/*********************/
/* Education Page CSS */
/*********************/

.wrapper-education{
  background-color: rgba(26, 26, 38, .99) !important;
  opacity: .99;
  color: grey;
}

/* Stypes Content Section */
.wrapper-education-content{
  background-color: rgba(28, 56, 140, .7);
  color: white
}

/* Turns Hat Purple */
.gold-cap{
color: #ff33ff;
}

/***************/
/* SCSU Styles */
/***************/

/* Styles Expanded Section */
.wrapper-scsu-expand{
  color: rgba(28, 56, 140, 1);
}

/* Styles Education Panels */
.educaion-panel{
  margin-top: 20px;
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* Standard syntax */
}

/* Styles Wells */
.education-well{
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, .8);
  background: rgba(28, 56, 140, .9); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* Standard syntax */
}

/* Manages Thumbnail */
.scsu-thumbnail{
  margin-top: 20px;
  opacity: .95;
}
