<template name='heroimage'>
  <div class='wrapper-heroimage'>
    <div class="container-fluid">
      <div class="row">
        <div class="hero-image">
          <div class="hero-text">
            <div class="panel panel-default hero-panel">
              <div class="panel-body">
                <h1 class="i-am">I am</h1>
                <h1 class="my-name">James F. Brown</h1>
                <p>
                  College Student,
                </p>
                <p>
                  Aspiring Data Scientist,
                </p>
                <p>
                  Currently Trying to Escape Parents Basement
                </p>
              </div>
            </div>
            <button class="btn btn-hero" href="#aboutlink" id='aboutlink'>Discover My Story</button>
            <a class="btn btn-hero" role="button" href="pdf/Brown_James_CV.pdf" target="_blank">View My Resume</a>
            <a class="btn btn-hero" role="button" href="mailto:jmsbrown455@gmail.com" target="_blank">Email Me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
