/* heroimage Component CSS */
.heroimage{
  padding-top: 40px;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("images/ice.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-size: cover;
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

}

/* Place text in the middle of the image */
.hero-text {
    color: blue;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
