<template name="footer">
  <div class="panel panel-default panelnomarg panelnocorn resea">
    <div class="panel-body no-spacing footer-pan">
      <div class="row">
        <br/>
        <br/>
        <div class="col-md-12">
          <button class="btn btn-primary btn-group footer" href="#aboutlink" id='aboutlink'>
            <i class="fa fa-book blue-book" aria-hidden="true"></i>
              About
          </button>
          <button class="btn btn-primary btn-group footer" href="#worklink" id='worklink'>
            <i class="fa fa-briefcase orange-case" aria-hidden="true"></i>
              Work
          </button>
          <button class="btn btn-primary btn-group footer" href="#researchlink" id='researchlink'>
            <i class="fa fa-flask green-beaker" aria-hidden="true"></i>
              Research
          </button>
          <button class="btn btn-primary btn-group footer" href="#educationlink" id='educationlink'>
            <i class="fa fa-graduation-cap gold-cap" aria-hidden="true"></i>
              Education
          </button>
          <button class="btn btn-primary btn-group footer" href="#contactlink" id='contactlink'>
            <i class="fa fa-envelope red-letter" aria-hidden="true"></i>
              Contact
          </button>
        </div>
      </div>
        <br/>
      <div class="row rowWithFullWidth">
        <p class="navbar-text copyR">
          © 2013 James Brown
          <br/>
        </p>

      </div>
    </div>
  </div>
</template>
