/*********************/
/* Research Page CSS */
/*********************/

/******************/
/* General Styles */
/******************/
.ul-no {
  list-style-type: none;
}
.wrapper-research{
  background-color: rgba(26, 26, 38, .99) !important;
  opacity: .99;
  color: grey;
}

/* Stypes Content Section */
.wrapper-research-scsu-content{
background-color: rgba(28, 56, 140, .7);
  color: white
}

/* Turns Beaker Symbol Green */
.green-beaker{
color: #66FF33;
}

/***************/
/* SCSU Styles */
/***************/

/* Styles Expanded Section */
.wrapper-research-scsu-expand{
  color: rgba(28, 56, 140, 1);
}
/* Styles Education Panels */
.scsu-research-panel{
  margin-top: 20px;
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* Standard syntax */
}
/* Styles Wells */
.well-pad-top{
  margin-top: 20px;
}
.scsu-research-well{
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* Standard syntax */
}

.scsu-research-well-expand{
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* Standard syntax */
}

/* Manages Thumbnail */
.scsu-thumbnail{
  margin-top: 20px;
  opacity: .95;
}

.background-image-scsu-research{
  background: url('/images/jbbm2.jpg');
  background-size: cover;
  position: relative;
  max-width: 80%;
  height: 100%;
  border-color: black;
  opacity: .8;
}

.scsu-thumbnail{
  margin-top: 20px;
  opacity: .95;
}

ul.committe li a, ul.committe li a:visited {
    color: rgba(28, 56, 140, 1) !important;
}

ul.committe li a:hover, ul.committe li a:active {
    color: white  !important;
}

ul.committe li.active a {
    color: white !important;
}


/*****************/
/* Auburn Styles */
/*****************/
/* Styles Expanded Section */
.wrapper-research-auburn-content{
  background-color: rgba(255, 128, 0, .72);
}
.wrapper-research-auburn-expand{
  color: rgba(28, 56, 140, 1);
}
/* Styles Education Panels */
.auburn-research-panel{
  margin-top: 20px;
  border-color: rgba(255, 128, 0, .8);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 128, 0, .8), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 128, 0, .8), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 128, 0, .8), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 128, 0, .8), rgba(28, 56, 140, .9)); /* Standard syntax */
}
/* Styles Wells */
.well-pad-top{
  margin-top: 20px;
}
.auburn-research-well{
  border-color: rgba(255, 128, 0, .8);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* Standard syntax */
}

.auburn-research-well-expand{
  border-color: rgba(255, 128, 0, .8);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 128, 0, .85), rgba(28, 56, 140, .9)); /* Standard syntax */
}

/* Manages Thumbnail */
.scsu-thumbnail{
  margin-top: 20px;
  opacity: .95;
}

.background-image-auburn-research{
  background: url('/images/samford.jpg');
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 100%;
  border-color: black;
  opacity: .85;
}

.auburn-thumbnail{
  margin-top: 20px;
  opacity: .95;
}

ul.related li a, ul.related li a:visited {
    color: rgba(28, 56, 140, 1) !important;
}

ul.related li a:hover, ul.related li a:active {
    color: white  !important;
}

ul.related li.active a {
    color: white !important;
}
