<template name="nav" id='nav'>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand my-name-nav" href="#">James F. Brown</a>
      </div>
      <ul class="nav navbar-nav nav-heading-font">
        <li>
          <a href="#aboutlink" id='aboutlink'>
            <i class="fa fa-book blue-book" aria-hidden="true"></i>
            About
          </a>
        </li>
        <li>
          <a href="#worklink" id='worklink'>
            <i class="fa fa-briefcase orange-case" aria-hidden="true"></i>
            Work
          </a>
        </li>
        <li>
          <a href="#researchlink" id='researchlink'>
            <i class="fa fa-flask green-beaker" aria-hidden="true"></i>
            Research
          </a>
        </li>
        <li>
          <a href="#educationlink" id='educationlink'>
            <i class="fa fa-graduation-cap gold-cap" aria-hidden="true"></i>
            Education
          </a>
          </li>
        <li>
          <a href="#contactlink" id='contactlink'>
            <i class="fa fa-envelope red-letter" aria-hidden="true"></i>
            Contact
          </a>
        </li>
      </ul>
    </div>
  </nav>
</template>
