/*********************/
/* Work Page CSS */
/*********************/

/******************/
/* General Styles */
/******************/
.wrapper-work{
  background-color: rgba(26, 26, 38, .99) !important;
  opacity: .99;
  color: grey;
}

/* Turns Briefcase Orange */
.orange-case{
color: #ffa64d;
}

/* Styles Wells */
.well-pad-top{
  margin-top: 20px;
}

/***************/
/* SCSU Styles */
/***************/
/* Styles Expanded Section */
/* Stypes Content Section */
.wrapper-ta-content{
  background-color: rgba(28, 56, 140, .7);
  color: white
}
.wrapper-ta-expand{
  color: rgba(28, 56, 140, 1);
}

/* Styles Education Panels */
.ta-panel{
  margin-top: 20px;
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, .8);
  background: rgba(255, 255, 255, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* Standard syntax */
}

.ta-well{
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, .8);
  background: rgba(28, 56, 140, .9); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(28, 56, 140, .9)); /* Standard syntax */
}

.ta-well-expand{
  border-color: rgba(28, 56, 140, .7);
  color:  rgba(255, 255, 255, 1);
  background: rgba(28, 56, 140, .9); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .5), rgba(28, 56, 140, .9)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .5), rgba(28, 56, 140, .9)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .5), rgba(28, 56, 140, .9)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .5), rgba(28, 56, 140, .9)); /* Standard syntax */
}

/* Manages Thumbnail */
.scsu-thumbnail{
  margin-top: 20px;
  opacity: .95;
}

.background-image-ta{
  background: url('/images/jbbm2.jpg');
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 100%;
  border-color: black;
  opacity: .95;
}

/******************/
/* Probate Styles */
/******************/
/* Styles Expanded Section */
.wrapper-probate-content{
  background-color: rgba(0, 77, 0, .8);
}
.wrapper-probate-expand{
  color: rgba(28, 56, 140, 1);
}

/* Styles Education Panels */
.probate-panel{
  margin-top: 20px;
  border-color: rgba(0, 77, 0, .8);
  color:  rgba(255, 255, 255, .8);
  background: rgba(0, 77, 0, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* Standard syntax */
}

.probate-well{
  border-color: rgba(0, 77, 0, .8);
  color:  rgba(255, 255, 255, .8);
  background: rgba(0, 77, 0, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* Standard syntax */
}

.probate-well-expand{
  border-color: rgba(0, 77, 0, .8);
  color:  rgba(255, 255, 255, 1);
  background: rgba(0, 77, 0, .8); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, rgba(255, 255, 255, .1), rgba(0, 77, 0, .8)); /* Standard syntax */
}

/* Manages Thumbnail */
.probate-thumbnail{
  margin-top: 20px;
  opacity: .95;
}

.background-image-probate{
  background: url('/images/jbbm2.jpg');
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: 100%;
  border-color: black;
  opacity: .95;
}
